body {
  background-color: rgb(40, 40, 43);
  margin: 0 auto;
}

body.Short {
  background-color: rgb(159, 159, 230);
  margin: 0 auto;
}

body.Long {
  background-color: rgb(167, 196, 235);
  margin: 0 auto;
}

.hl {
  background: red;
}

.container {
  margin: 0 auto;
  background-color: #9a2a2a;
  width: 300px;
  height: 400px;
  border-radius: 12px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-text: text;
  gap: 1.3rem;
}

main {
  padding: 2rem 5rem;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}
h1,
.timeContainer {
  font-size: 4rem;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
