body {
  background-color: rgb(40, 40, 43);
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.container.PomodoroTheme,
.PomodoroTheme {
  background-color: #e96969;
}

.container.ShortTheme,
.ShortTheme {
  background-color: rgb(159, 159, 230);
}

.container.LongTheme,
.LongTheme {
  background-color: rgb(150, 181, 223);
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.streakCount {
  color: rgba(0, 0, 0, 0.6);
  height: 20px;
  font-weight: bold;
}

button {
  font-weight: 400;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1rem;
}

#startBtn,
#stopBtn {
  font-weight: bold;
  font-size: 20;
  padding: 1rem 3rem;
  color: rgba(0, 0, 0, 0.8);
}
.container {
  margin: 0 auto;
  background-color: #e96969;
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  align-items: center;
  flex-direction: column;
  gap: 1.3rem;
}

main {
  padding: 2rem 5rem;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.timeContainer {
  font-size: 7rem;
  font-weight: bold;
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
